@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&family=PT+Sans+Narrow&display=swap");

// Font Styles
$heading_font: "M PLUS 1p", cursive;
$main_font: "PT Sans Narrow", monospace;
// Colors
$black: #000000;
$purple: #8783D1;
$pink: #E5446D;
$yellow: #E9D985;
$white: #EFE9F4;
$darkpurple: #17153b;
$darkpink: #610e67;
$teal: #00b3b3;